@import '../../color.scss';
@import '../../dimension.scss';

.header {
  padding: $unit-small $gutter;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  display: flex;
  background-color: orange;
  justify-content: space-between;
  align-items: center;
  background-color: $brand-primary;
}


