$light: rgb(255, 255, 255);
$dark: rgb(50, 50, 50);

$error: rgb(255, 0, 0);
$success: rgb(0, 255, 0);

$hint: rgb(175, 175, 175);

$brand-primary: rgba(255, 125, 75);
$brand-primary-analogue: rgba(150, 50, 25);